<footer class="row">
  <section class="panel small-12 columns">
    <a id="desenvolvedor" href="http://about.me/juniorales" target="_blank">
      desenvolvido por Junior Ales
    </a>
  </section>
</footer>
