<footer class="row">
  <section class="panel large-8 small-12 columns">
    <h2>Apoio</h2>
    <hr />
    <ul class="small-block-grid-2 large-block-grid-4">
      <li><img src="/img/patrocinadores/brzazbull.png"</li>
      <li><img src="/img/patrocinadores/daikoku.png"</li>
      <li><img src="/img/patrocinadores/fsa.png"</li>
      <li><img src="/img/patrocinadores/lindooiatc.png"</li>
      <li><img src="/img/patrocinadores/deConto.png"</li>
      <li><img src="/img/patrocinadores/verbalize.png"</li>
      <li><img src="/img/patrocinadores/pousadatrituba.png"</li>
      <li><img src="/img/patrocinadores/maxmuscle.png"</li>
    </ul>
  </section>
  <section id="dev-section" class="panel large-4 small-12 columns">
    <img src="/img/logo-menu.png" alt="" />
    <p>@2013 - Desenvolvido por <a id="desenvolvedor" href="http://about.me/juniorales" target="_blank">Junior Ales</a></p>
  </section>
</footer>
