<footer class="row">
  <section class="panel large-8 small-12 columns">
    <h2>Apoio</h2>
    <hr />
    <ul class="small-block-grid-2 large-block-grid-4">
      <li><img src="/img/patrocinadores/brzazbull.png"</li>
      <li><img src="/img/patrocinadores/daikoku.png"</li>
      <li><img src="/img/patrocinadores/fsa.png"</li>
      <li><img src="/img/patrocinadores/lindooiatc.png"</li>
      <li><img src="/img/patrocinadores/deConto.png"</li>
      <li><img src="/img/patrocinadores/verbalize.png"</li>
      <li><img src="/img/patrocinadores/pousadatrituba.png"</li>
      <li><img src="/img/patrocinadores/maxmuscle.png"</li>
    </ul>
  </section>
  <section id="dev-section" class="panel large-4 small-12 columns">
    <img src="/img/logo-menu.png" alt="" />
    <iframe id="facebook-plugin" src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FSakura-Cup%2F565106300215752&amp;width=450&amp;height=80&amp;colorscheme=dark&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;send=false&amp;appId=103528953089480" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    <p>@2013 - Desenvolvido por <a id="desenvolvedor" href="http://about.me/juniorales" target="_blank">Junior Ales</a></p>
  </section>
</footer>
