<footer class="row">
  <section class="panel small-12 columns">
    <h2>O novo site ainda está em construção</h2>
    <p> Em breve você terá um site novinho, com tudo sobre o campeonato mais emocionante do estado </p>
  </section>
</footer>
