<section class="row">
  <header class="panel small-4 columns-menu columns">
    <img id="logo-menu" src="/img/logo-menu.png" alt="" />
  </header>
  <nav id="nav-menu" class="panel small-8 columns-menu columns">
    <a href="/">Início</a>
    <a href="/informacoes">Informações</a>
    <a href="/inscritos">Inscritos</a>
    <a href="/comochegar">Como Chegar</a>
  </nav> 
</section>
