<section class="row">
  <header class="panel large-4 small-12 columns">
    <h1>Sakura Cup II</h1>
  </header>
  <nav class="panel large-8 small-12 columns">
    <a href="/">Início</a>
    <a href="#">Como Chegar</a>
    <a href="#">Lista de Inscritos</a>
    <a href="#">Edições Anteriores</a>
  </nav> 
</section>
