<section class="row">
  <section class="panel small-12 columns">
    <section class="row">
      <section class="panel no-background small-12 large-7 columns">
        <section class="row">
          <section class="panel no-background small-12 columns">
            <h1 id="titulo-principal">Sakura Cup III</h1>
          </section>
        </section>
        <section class="row">
          <section id="info-section" class="panel no-background small-12 columns">
            <h3>O <span class="enfase">Sakura Cup III</span> vem aí</h3>
          </section>
        </section>
      </section>
      <section id="logo-section" class="panel no-background large-5 columns">
        <img id="logo-principal" src="/img/logo.png" alt="" />
      </section>
    </section>
  </section>
</section>
<section class="row">
  <section class="panel large-8 small-12 columns">
    <h2>Agradecimento</h2>
    <hr />
    <p>Obrigado a todos que fizeram do evento um sucesso! Aguarde, em breve teremos  mais informações sobre a terceira edição do Sakura Cup que acontecerá <span class="enfase">ainda em 2013</span></p>
    <br />
  </section>
  <section class="panel large-4 small-12 columns">
    <h1 style="margin-top: 77px;min-height: 115px;font-size: 3.5em;"> Aguarde!  </h1>
  </section>
</section>
