<section class="row">
  <section class="panel small-12 columns">
    <section class="row">
      <section class="panel no-background small-12 large-7 columns">
        <section class="row">
          <section class="panel no-background small-12 columns">
            <h1 id="titulo-principal">Sakura Cup II</h1>
          </section>
        </section>
        <section class="row">
          <section id="info-section" class="panel no-background small-12 columns">
            <h3>Domingo, dia <span class="enfase">29 de Setembro</span></h3>
            <h3>Ginásio do <span class="enfase">Lindóia Tênis Clube</span></h3>
          </section>
        </section>
      </section>
      <section id="logo-section" class="panel no-background large-5 columns">
        <img id="logo-principal" src="/img/logo.png" alt="" />
      </section>
    </section>
  </section>
</section>
