<%= erb :_header %>
<section class="row">
  <section class="panel small-12 columns">
    <header>
      <h2>Cronograma</h2>
      <hr />
    </header>
    <h3>Pesagem (28/09)</h3>
    <p> <span class="horario">A partir das 17h</span> No Ginásio do Lindóia Tênis Clube </p>
    <h3>Sakura Cup II (29/09)</h3>
    <!--<p><span class="horario">09:00</span> Faixa Branca Adulto: Pena, Leve e Médio</p>
    <p><span class="horario">10:00</span> Faixa Branca Adulto: Pluma, Meio Pesado, Super Pesado e Pesadíssimo</p>
    <p><span class="horario">11:00</span> Faixa Azul Adulto: Galo, Pluma, Pena e Leve</p>
    <p><span class="horario">12:00</span> Faixa Azul Adulto: Médio, Meio Pesado, Pesado, Super Pesado e Pesadíssimo</p>
    <p><span class="horario">13:00</span> Faixa Roxa Adulto: Pluma, Pena, Leve</p>
    <p><span class="horario">13:30</span> Faixa Roxa Adulto: Médio, Meio Pesado, Pesado, Super Pesado e Pesadíssimo</p>
    <p><span class="horario">14:00</span> Faixa Marrom e Preta Adulto: Médio, Meio Pesado, Pesado e Pesadíssimo</p>
    <p><span class="horario">15:00</span> Old School Branca (Master/Sênior): todas as categorias</p>
    <p><span class="horario">15:30</span> Old School Azul: Todas as categorias</p>
    <p><span class="horario">16:00</span> Old School: Roxa, Marrom e Preta. Crianças todas as categorias</p>
    <p><span class="horario">16:30</span> Feminino: todas as categorias</p>
    <p><span class="horario">17:30</span> Início Grand Prix</p>-->
    <p> O cronograma do Sakura Cup II será disponibilizado logo após o término das inscrições </p>
    <br />
  </section>
</section>
