<%= erb :_header %>
<section class="row">
  <section class="panel small-12 columns">
    <header>
      <h2>Cronograma</h2>
      <hr />
    </header>
    <h3>Pesagem (28/09)</h3>
    <p> <span class="horario">A partir das 17h</span> No Ginásio do Lindóia Tênis Clube </p>
    <h3>Sakura Cup II (29/09)</h3>
    <p> O cronograma do Sakura Cup II será disponibilizado logo após o término do período de inscrições </p>
    <br />
  </section>
</section>
