<h2>CRONOGRAMA</h2>
<dl class="dl-horizontal">
  <dt>09:00</dt><dd>Faixa Branca Adulto: Pena, Leve e Médio</dd></dt>
  <dt>10:00</dt><dd>Faixa Branca Adulto: Pluma, Meio Pesado, Super Pesado e Pesadíssimo</dd></dt>
  <dt>11:00</dt><dd>Faixa Azul Adulto: Galo, Pluma, Pena e Leve</dd></dt>
  <dt>12:00</dt><dd>Faixa Azul Adulto: Médio, Meio Pesado, Pesado, Super Pesado e Pesadíssimo</dd></dt>
  <dt>13:00</dt><dd>Faixa Roxa Adulto: Pluma, Pena, Leve</dd></dt>
  <dt>13:30</dt><dd>Faixa Roxa Adulto: Médio, Meio Pesado, Pesado, Super Pesado e Pesadíssimo</dd></dt>
  <dt>14:00</dt><dd>Faixa Marrom e Preta Adulto: Médio, Meio Pesado, Pesado e Pesadíssimo</dd></dt>
  <dt>15:00</dt><dd>Old School Branca (Master&Sênior): todas as categorias</dd></dt>
  <dt>15:30</dt><dd>Old School Azul: Todas as categorias</dd></dt>
  <dt>16:00</dt><dd>Old School: Roxa, Marrom e Preta. Crianças todas as categorias</dd></dt>
  <dt>16:30</dt><dd>Feminino: todas as categorias</dd></dt>
  <dt>17:30</dt><dd>Início Grand Prix</dd></dt>
</dl>
<a class="botao botao-menu" href="/">Página Inicial</a>
