<%= erb :_header %>
<section class="row">
  <section class="panel small-12 columns">
    <header>
      <h2>Cronograma</h2>
      <hr />
    </header>
    <h3>Pesagem (28/09)</h3>
    <p> <span class="horario">Das 20h às 22h</span> No Ginásio do Lindóia Tênis Clube </p>
    <h3>Sakura Cup II (29/09)</h3>
    <p><span class="horario">09:00</span> Abertura Oficial</p>
    <p><span class="horario">09:30</span> Classe: Old School (Master e Senior) - Faixa: Branca e Azul</p>
    <p><span class="horario">10:00</span> Classe: Old School (Master e Senior) - Faixa: Roxa, Marrom e Preta</p>
    <p><span class="horario">10:30</span> Classe: Adulto Masculino - Faixa: Branca</p>
    <p><span class="horario">11:30</span> Classe: Adulto Masculino - Faixa: Azul</p>
    <p><span class="horario">12:30</span> Classe: Adulto Masculino - Faixa: Roxa</p>
    <p><span class="horario">13:00</span> Classe: Mirim, Infantil e Infanto-Juvenil - Faixa: Todas</p>
    <p><span class="horario">13:45</span> Classe: Juvenil - Faixa: Todas</p>
    <p><span class="horario">14:00</span> Classe: Adulto Masculino - Faixa: Preta e Marrom</p>
    <p id="horario-feminino"><span class="horario">14:00</span> Classe: Todas Feminino - Faixa: Todas</p>
    <p><span class="horario">15:00</span> Início Grand Prix por equipes</p>
    <br />
  </section>
</section>
