<section class="row">
  <section class="panel small-12 columns">
    <section class="row">
      <section class="panel no-background small-12 large-7 columns">
        <section class="row">
          <section class="panel no-background small-12 columns">
            <h1 id="titulo-principal">Sakura Cup II</h1>
          </section>
        </section>
        <section class="row">
          <section class="panel no-background small-12 columns">
            <h2>(INFO)</h2>
          </section>
        </section>
      </section>
      <section id="logo-section" class="panel no-background large-5 columns">
        <img id="logo-principal" src="/img/logo.png" alt="" />
      </section>
    </section>
  </section>
</section>
<section class="row">
  <section class="panel large-4 small-12 columns">
    <h2>Como Chegar</h2>
  </section>
  <section class="panel large-4 small-12 columns">
    <h2>Lista de Inscritos</h2>
  </section>
  <section class="panel large-4 small-12 columns">
    <h2>Edições Anteriores</h2>
  </section>
</section>
