<section class="row">
  <section class="panel small-12 columns">
    <section class="row">
      <section class="panel no-background small-12 large-7 columns">
        <section class="row">
          <section class="panel no-background small-12 columns">
            <h1 id="titulo-principal">Sakura Cup II</h1>
          </section>
        </section>
        <section class="row">
          <section id="info-section" class="panel no-background small-12 columns">
            <h3>Domingo, dia <span class="enfase">29 de Setembro</span></h3>
            <h3>Ginásio do <span class="enfase">Lindóia Tênis Clube</span></h3>
            <!--<h3>A partir das <span class="enfase">8h da manhã</span></h3>-->
          </section>
        </section>
      </section>
      <section id="logo-section" class="panel no-background large-5 columns">
        <img id="logo-principal" src="/img/logo.png" alt="" />
      </section>
    </section>
  </section>
</section>
<section class="row">
  <section class="panel sub-paineis large-4 small-12 columns">
    <a href="/informacoes">
      <h2 class="subtitulo">Informações</h2>
    </a>
    <hr />
    <div class="row">
      <div class="large-12 small-6 columns info-detalhe">
        <p>Categorias, pesos, faixas, pesagem, regras da competição e tudo mais que você deve saber sobre o campeonato</p>
      </div>
      <div class="large-12 small-6 columns">
        <button class="mais-info-button small expand">Mais Informações</button>
      </div>
    </div>
  </section>
  <section class="panel sub-paineis large-4 small-12 columns">
    <a href="/inscritos"><h2 class="subtitulo">Inscritos</h2></a>
    <hr />
    <div class="row">
      <div class="large-12 small-6 columns info-detalhe">
        <p> Lista oficial de competidores inscritos na competição mais emocionante do estado </p>
      </div>
      <div class="large-12 small-6 columns mais-info-div">
        <button class="mais-info-button small expand">Lista de Inscritos</button>
      </div>
    </div>
  </section>
  <section class="panel sub-paineis large-4 small-12 columns">
    <a href="/premiacao"><h2 class="subtitulo">Premiação</h2></a>
    <hr />
    <div class="row">
      <div class="large-12 small-6 columns info-detalhe">
        <p> Os vencedores das categorias selecionadas irão ganhar passagens para os campeonatos mais disputados do país </p>
      </div>
      <div class="large-12 small-6 columns">
        <button class="mais-info-button small expand">Confira a Premiação</button>
      </div>
    </div>
  </section>
</section>
<section class="row">
  <section class="panel sub-paineis large-4 small-12 columns">
    <a href="https://www.google.com/maps/preview#!data=!1m4!1m3!1d3055!2d-51.1524983!3d-30.0032815!4m25!2m11!1m10!1s0x0%3A0xe645f0d5030c43ec!3m8!1m3!1d26081603!2d-95.677068!3d37.0625!3m2!1i1024!2i768!4f13.1!5m12!1m11!1slindoia+tenis+clube+poa!4m8!1m3!1d26081603!2d-95.677068!3d37.0625!3m2!1i1024!2i768!4f13.1!17b1" target="_blank">
      <h2 class="subtitulo">Localização</h2>
    </a>
    <hr />
    <div class="row">
      <div class="large-12 small-6 columns info-detalhe">
        <p>
          Lindóia Tênis Clube<br />
          Trav Comte Gustavo Cramer, 90<br />
          Jd Lindóia - Porto Alegre<br />
        </p>
      </div>
      <div class="large-12 small-6 columns">
        <button class="mais-info-button small expand">Acesse o Mapa</button>
      </div>
    </div>
  </section>
  <section class="panel sub-paineis large-4 small-12 columns">
    <a href="/cronograma"><h2 class="subtitulo">Cronograma</h2></a>
    <hr />
    <div class="row">
      <div class="large-12 small-6 columns info-detalhe">
        <p>O cronograma do campeonato, com os horários das lutas por categoria</p>
      </div>
      <div class="large-12 small-6 columns">
        <button class="mais-info-button small expand">Veja o Cronograma</button>
      </div>
    </div>
  </section>
  <section class="panel sub-paineis large-4 small-12 columns">
    <a href="/fotos"><h2 class="subtitulo">Fotos</h2></a>
    <hr />
    <div class="row">
      <div class="large-12 small-6 columns info-detalhe">
        <p>Confira fotos da primeira edição do Grand Prix que fez a capital gaúcha tremer</p>
      </div>
      <div class="large-12 small-6 columns mais-info-div">
        <button class="mais-info-button small expand">Confira as Fotos</button>
      </div>
    </div>
  </section>
</section>
