<%= erb :_header %>
<section class="row">
  <section class="panel informacoes-section small-12 columns">
    <header>
      <h2>Informações Gerais</h2>
      <hr />
    </header>
    <p>
      O Gran Prix de Jiu Jitsu Sakura CUP em sua segunda edição traz uma competição individual e uma por equipes. Confira abaixo informações sobre cada modalidade de disputa.
    </p>
    <h3>Duração das Lutas</h3>
    <p>
      Tanto para a competição individual, como para a por equipes (Gran Prix) as lutas terão a <span class="enfase">duração de 6 minutos</span>, sendo essa a regra para todas as classes, categorias e faixas.
    </p>
    <h3>Pesagem</h3>
    <p>
    A pesagem será feita no local do evento, ginásio do <span class="enfase">Lindóia Tênis Clube</span>, no dia <span class="enfase">28 de Setembro</span> a partir das <span class="enfase">17h00</span>
    </p>
    <h3>Competição Individual</h3>
    <section class="row">
      <section class="panel no-background small-12 large-4 columns">
        <header>
          <p>Classes (Masculino e Feminino)</p>
        </header>
        <ul>
          <li>Mirim</li>
          <li>Infantil</li>
          <li>Infanto-Juvenil</li>
          <li>Juvenil</li>
          <li>Adulto</li>
          <li>Old School (Masters e Seniors)</li>
        </ul>
      </section>
      <section class="panel no-background small-12 large-4 columns">
        <header>
          <p>Faixas Masculino</p>
        </header>
        <ul>
          <li>Branca</li>
          <li>Azul</li>
          <li>Roxa</li>
          <li>Marrom</li>
          <li>Preta</li>
        </ul>
      </section>
      <section class="panel no-background small-12 large-4 columns">
        <header>
          <p>Faixas Feminino</p>
        </header>
        <ul>
          <li>Branca</li>
          <li>Azul</li>
        </ul>
      </section>
    </section>
    <h3>Gran Prix - Competição por equipe</h3>
    <p>
      No Gran Prix serão 5 (cinco) integrantes por equipe, <span class="enfase">sem limite de peso</span>, separados por faixas, para todas as classe, menos Juvenil e Old School
    </p>
    <section class="row">
      <section class="panel no-background small-12 large-6 columns">
        <header>
          <p>Faixas Masculino</p>
        </header>
        <ul>
          <li>Branca</li>
          <li>Azul</li>
          <li>Roxa</li>
          <li>Marrom</li>
          <li>Preta</li>
        </ul>
      </section>
      <section class="panel no-background small-12 large-6 columns">
        <header>
          <p>Faixas Feminino</p>
        </header>
        <ul>
          <li>Branca</li>
          <li>Azul</li>
        </ul>
      </section>
    </section>
    <p> Na classe Juvenil <span class="enfase">não há separação por faixas</span></p>
    <p> Na classe Old School também serão 5 (cinco) integrantes, porém <span class="enfase">sendo 1 (um) por faixa</span></p>
    <p>Cada academia poderá inscrever <span class="enfase">2 (duas) equipes</span> por faixa (A/B)</p>
    <p>O atleta inscrito no Gran Prix, deverá obrigatoriamente estar inscrito na competição individual</p>
    <br />
  </section>
</section>
