<div class="inscritos">
  <h2>Lista de Inscritos</h2>
  <table class="table table-bordered tabela">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Classe</th>
        <th>Peso</th>
        <th>Faixa</th>
      </tr>
    </thead>
    <tbody>
      <% counter = 0 %>
      <% erros = "" %>
      <% CSV.foreach("inscritos.csv", encoding: "UTF-8") do |row| %>
        <% linha =  @helper.nova_linha(row.join(";")) %>
        <% erros << "#{linha}<br />" if linha.start_with?("ERRO:") %>
        <% counter += 1%>
        <%= linha %>
      <% end %>
    </tbody>
  </table>
  <%= puts "Total de linhas: #{counter}\nErros: #{erros}" if ENV['RACK_ENV'] == "development" %>
  <a class="botao botao-menu" href="/">Página Inicial</a>
</div>
