<div class="inscritos">
  <h2>Lista de Inscritos</h2>
  <table class="table table-bordered tabela">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Categoria</th>
        <th>Peso</th>
        <th>Faixa</th>
      </tr>
    </thead>
    <tbody>
      <%= @helper.nova_linha("Ronaldo;Pesado;102kg;Branca") %>
    </tbody>
  </table>
  <a class="botao botao-menu" href="/">Página Inicial</a>
</div>
