<div class="inscritos">
  <h2>Lista oficial de inscritos será divulgada em breve. Aguarde!</h2>
  <a class="botao botao-menu" href="/">Página Inicial</a>
  <img class="img-polaroid" src="img/cartaz.png" alt="Grand Prix de Jiu-Jitsu Sakura CUP - 2013" />
</div>
