<div class="inscritos">
  <h2>Lista de Inscritos</h2>
  <table id="tabela-inscritos" class="table table-bordered">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Peso</th>
        <th>Faixa</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Edilson Luiz Ales Junior</td>
        <td>70kg</td>
        <td>Branca</td>
      </tr>
      <tr>
        <td>Edilson Luiz Ales Junior</td>
        <td>70kg</td>
        <td>Branca</td>
      </tr>
      <tr>
        <td>Edilson Luiz Ales Junior</td>
        <td>70kg</td>
        <td>Branca</td>
      </tr>
      <tr>
        <td>Edilson Luiz Ales Junior</td>
        <td>70kg</td>
        <td>Branca</td>
      </tr>
      <tr>
        <td>Edilson Luiz Ales Junior</td>
        <td>70kg</td>
        <td>Branca</td>
      </tr>
      <tr>
        <td>Edilson Luiz Ales Junior</td>
        <td>70kg</td>
        <td>Branca</td>
      </tr>
    </tbody>
  </table>
  <a class="botao botao-menu" href="/">Página Inicial</a>
</div>
