<%= erb :_header %>
<section class="row">
  <section class="panel small-12 columns">
    <header>
      <h2>Lista de Inscritos</h2>
      <hr />
    </header>
    <p> A lista de inscritos do Sakura Cup II será disponibilizado logo após o término do período de inscrições </p>
    <!--<p>
      Qualquer informação incorreta ou dados que estejam faltando, favor pedir para seu professor contactar a organização do evento
      </p>-->
    <br />
  </section>
</section>
