<!DOCTYPE html>
<html>
  <head>
    <title>Grand Prix de Jiu-Jitsu Sakura CUP - 2013</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/sakuracup.css" />
  </head>

  <body>
    <div class="container" style="width: 900px">
      <div class="page-header">
        <h1>SAKURA CUP - 2013 <small>Grand Prix de Jiu-Jitsu</small></h1>
      </div>
      <%= yield %>
    </div> 
  </body>
</html>
