<!DOCTYPE html>
<html>
  <head>
    <title>Grand Prix de Jiu-Jitsu Sakura CUP - 2013</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/sakuracup.css" />
  </head>

  <body>
    <div class="container">
      <div class="page-header">
        <h1>SAKURA CUP - 2013 <em id="subtitulo">Grand Prix de Jiu-Jitsu</em></h1>
      </div>
      <%= yield %>
    </div> 
  </body>
</html>
