<%= erb :_header %>
<section class="row">
  <section class="panel small-12 columns">
    <header>
      <h2>Premiação</h2>
      <hr />
    </header>
    <table id="tabela-premiacao">
      <thead>
        <tr>
          <th> Categoria <hr /> </th>
          <th> Prêmio <hr /> </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Juvenil</td>
          <td id="premio-sulamericano" rowspan="4" class="enfase">01 Passagem Sul Americano CBJJ</td>
        </tr>
        <tr> <td>Feminino</td> </tr>
        <tr> <td>Old School</td> </tr>
        <tr> <td>Faixa Branca Masculino</td> </tr>
        <tr> 
          <td><hr /></td> 
          <td><hr /></td> 
        </tr>
        <tr>
          <td>Faixa Azul Masculino</td>
          <td id="premio-abudhabi" rowspan="3" class="enfase">01 Passagem AbuDhabi Trail / SP</td>
        </tr>
        <tr> <td>Faixa Roxa Masculino</td> </tr>
        <tr> <td>Faixa Marron/Preta Masculino</td> </tr>
        <tr> 
          <td><hr /></td> 
          <td><hr /></td> 
        </tr>
      </tbody>
    </table>
  </section>
  <section class="panel small-12 columns">
    <h2>Importante</h2>
    <hr />
    <p> É pre-requisito haver no mínimo 02 equipes para a disputa da premiação. </p>
    <p> O vencedor da passagem deverá retirá-la no prazo de 05 dias úteis após a competição, caso retire a premiação será cancelada.</p>
    <br />
  </section>
</section>
