#tabela-premiacao thead,
#tabela-premiacao tbody tr {
  background-color: rgba(242, 242, 242, 0);
}

#premio-sulamericano {
  background:url('/img/premiacao/sulamericano.png') no-repeat right;
}

#premio-abudhabi {
  background:url('/img/premiacao/abudhabi.png') no-repeat right;
}
