@media only screen and (max-width: 768px) {
  #logo-section {
    display: none;
  }

  #titulo-principal {
    font-size: 6em;
  }

  .sub-paineis {
    min-height: initial;
  }

  .info-detalhe {
    height: auto;
  }
}

@media only screen and (max-width: 545px) {
  .info-detalhe {
    width: 100%;
  }
}
