@media only screen and (max-width: 768px) {
  table {
    font-size: smaller;
  }

  #tabela-premiacao thead tr th,
  #tabela-premiacao tbody tr td {
    font-size: 16px;
  }

  #logo-section,
  #cabecalho-grande {
    display: none;
  }

  #cabecalho-pequeno {
    display: block;
  }

  #facebook-plugin {
    width: 300px;
  }

  #titulo-principal {
    font-size: 6em;
  }

  #titulo-principal,
  #info-section h3 {
    margin-left: initial;
  }

  .sub-paineis,
  footer section {
    min-height: initial;
  }

  .info-detalhe {
    height: auto;
  }

  #dev-section {
    padding-top: 20px;
  }

  #premio-abudhabi,
  #premio-sulamericano {
    background: none;
  }
}

@media only screen and (max-width: 545px) {
  .info-detalhe {
    width: 100%;
  }
}
