@media (max-width: 500px) {
  body {
    background: #300000;
  }

  h1 {
    font-size: 24pt;
  }
 
  #apoiadores1 {
    display: table-caption;
    width: 200px;
    float: left;
  }

  #apoiadores2 {
    display: table-caption;
    position: relative;
  }

  #botao-inscritos {
    width: 250px;
    margin-left: 10%;
  }

  #subtitulo {
    font-size: 14pt;
  }

  .botao-menu {
    margin-left: 16%;
  }

  .tabela thead tr th {
    font-size: 12pt;
  }

  .tabela tbody tr td {
    font-size: 10pt;
  }

  .page-header, .container, #coluna-cartaz, #coluna-info {
    width: 350px;
  }
}

@media (min-width: 501px) and (max-width: 685px) {
  body {
    background: #300000;
  }

  h1 {
    font-size: 24pt;
  }

  #botao-inscritos {
    width: 250px;
  }

  #subtitulo {
    font-size: 14pt;
  }

  .botao-menu {
    margin-left: 25%;
  }

  #coluna-cartaz #botao-inscritos {
    margin-left: 20%;
  }

  #botao-cartaz {
    margin-left: 14%;
  }

  .page-header {
    width: 350px;
  }

  .container, #coluna-cartaz, #coluna-info {
    width: 500px;
  }
}

@media (min-width: 686px) and (max-width: 930px) {
  body {
    background: #300000;
  }

  #botao-inscritos {
    width: 250px;
  }

  #subtitulo {
    font-size: 16pt;
  }

  .botao-menu {
    margin-left: 25%;
  }

  #coluna-cartaz #botao-inscritos {
    margin-left: 20%;
  }

  #botao-cartaz {
    margin-left: 14%;
  }

  .page-header {
    width: 450px;
  }

  .container, #coluna-cartaz, #coluna-info {
    width: 500px;
  }
}

@media (min-width: 931px) and (max-width: 1100px) {
  body {
    background: #300000;
  }
}
