dl {
  font-size: 12pt;
  margin-left: 30px;
}

dd {
  font-weight: normal;
}

dt {
  margin-top: 10px;
}

.apoiadores div {
  display: block;
  text-align: center;
  margin-bottom: 15px;
}

.apoiadores img {
  max-height: 50px;
}
