body {
  background-color: #300000;
}

h1, h2 {
  color: #DA981E;
}

h2 {
  font-size: 18pt;
}

h1 small, dt {
  color: #A83425;
}

dl {
  font-size: 11pt;
  margin-left: 30px;
}

dd {
  color: #CD6E1E;
  font-weight: normal;
}

dt {
  margin-top: 10px;
}

.page-header {
  border-color: #A83425;
}

.img-polaroid {
  background-color: #A83425;
}

.btn {
  background-color: #DA981E;
  background-image: none;
  border-bottom-color: rgba(0, 0, 0, 0.247059);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-style: outset;
  border-bottom-width: 2px;
  border-left-color: rgba(0, 0, 0, 0.0980392);
  border-left-style: outset;
  border-left-width: 2px;
  border-right-color: rgba(0, 0, 0, 0.0980392);
  border-right-style: outset;
  border-right-width: 2px;
  border-top-color: rgba(0, 0, 0, 0.0980392);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-top-style: outset;
  border-top-width: 2px;
  box-sizing: border-box;
  color: rgb(168, 52, 37);
  cursor: pointer;
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: normal;
  text-align: center;
  text-shadow: #300000 0px 1px;
}

.btn:hover {
  background-color: #CD6E1E;
  color: #010101;
  text-shadow: none;
}

.botao-lista-inscritos, .botao-menu {
  margin-top: 25px;
  margin-bottom: 35px;
  font-size: 16pt;
  height: 60px;
  padding-top: 18px;
}

.botao-menu {
  width: 250px;
  margin-left: 36%;
}

.inscritos {
  display: block;
  text-align: center;
}

.apoiadores div {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.apoiadores img {
  max-height: 50px;
}

#local {
  text-decoration: none;
}

#local:hover {
  text-shadow: #010101 3px 3px;
  font-size: 12pt;
}

